body {
    background-image:url("background.jpg");
    background-position:center center;
    background-repeat:no no-repeat;
    background-attachment: fixed;
    background-size:cover;
    background-color:blueviolet;
    margin-top: 100px;
}
#Hello {
    margin-left:800px;
}
#welcome {
    font-size:425%;
    margin-left:25px;
    color:floralwhite;
    font-family:"Trebuchet MS", Helvetica, sans-serif;
}
#title{
    font-family:cursive;
    font-size:406.25%;
    border-width: 5px 5px 5px 5px;
    margin-bottom:20px;
    margin-top:10px;
    color:RGB(255,255,240);
    font-family:"Trebuchet MS", Helvetica, sans-serif;
}
div p{
    font-size: 125%;
}
#portrait{
    margin-right:50px;
    margin-left:50px;
    border-radius:50%;
    transition:transform .2s , border-radius .3s;
    float:center;
}
#portrait:hover{
    transform:scale(1.05);
    border-radius : 10px;
}

.details p{
    
    font-family:"Trebuchet MS", Helvetica, sans-seri;
    display:inline;
    color:floralwhite;
}
#desc{
    font-family:"Trebuchet MS", Helvetica, sans-serif;
    color:floralwhite;
}
#linkedin{
    margin-bottom:0px;
    padding-bottom:0px;
}


.zoom {
  padding: 50px;
  background-color: green;
  transition: transform .2s; /* Animation */
  width: 200px;
  height: 200px;
  margin: 0 auto;
}
#instagram{
    transition: transform .2s;
}

#instagram:hover {
  transform: scale(1.25);
}
#linkedin{
    transition: transform .2s;
}
#linkedin:hover{
    transform: scale(1.25);
}
@media screen and (max-width : 1000px){
    body{
        background-size:5000px;
    }
    body p{
        font-size: 60%;
    }
}